{% extends 'layout.twig' %}

{% block title "Mes articles" %}

{% block body %}

<h1>Bienvenue sur le blog</h1>

<ul>
    <li><a href="{{ path('blog.show', {slug: 'zaezae0-8azaeae'}) }}">Article 1</a></li>
    <li>Article1</li>
    <li>Article1</li>
    <li>Article1</li>
</ul>

{% endblock %}


